body{
   
    background-image: url(bkjBVG.jpg) ;
    background-size: 90in;
    background-repeat: no-repeat;
 }
 .main_img{
     padding: 80px 0;
 }
 .card{
     display: grid;
     border-radius: 18px;
     background: white;
     box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
     margin: 10px;
     transition: transform 0.6s;
   transform-style: preserve-3d;
   position: relative;
     
 }
 
 .img_1 img{
     height: 300px;
     border-top-right-radius: 15px;
     border-top-left-radius: 15px;
     width: 100%;
 }
 .img_2 img{ 
     width: 140px;
     height: 140px;
     border-radius: 70%;
     border: 7px solid #dddada;
     margin-top: -80px;
 }
 
 .img_3 img{
     background-color: #2980b9;
   color: white;
   transform: rotateY(180deg);
 }
 .main-text{
     padding: 30px 0;
     text-align: left;
     font-size: 20px ;
 }
 .main-text h2{
     text-transform: uppercase;
     font-weight: 900;
     font-size: 20px;
     margin: 0 0 20px;
     text-align: center;
 }
 
 .main-text p{
     font-size: 16px;
     padding: 0 35px;
 }
 
 .title{
     text-align: center;
     color: rgb(199, 194, 194);
     margin-top: 30px;
     font-size: 100px;
     font-style: Copperplate;
 }
 
 .img_3:hover .info{
     transform: rotateY(180deg);
 }